<section class="welcome-container">
    <h1>Benvenuto in Finance Manager</h1>
    <p>
        Questa web app ti permette di gestire le tue finanze personali in modo semplice e intuitivo.
        Monitora entrate e uscite, analizza le tue abitudini di spesa e ottieni report dettagliati per
        prendere decisioni finanziarie più consapevoli.
    </p>

    <div class="buttons">
        <button (click)="goToHome()">Vai alla Home</button>
        <button (click)="goToLinks()">Altri Link</button>
    </div>
</section>
